<%= form_for(@departure, remote: true, html: {role: :form, 'data-model' => 'departure'}) do |f| %>

  <% if @departure.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @departure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="form-group">
    <h4>Item: <%= @stuff.name %></h4>
    <%= f.hidden_field :stuff_id, :value => @stuff.id %>
    <%= f.label :amount, class:   'control-label' %><br>
    <%= f.number_field :amount, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="actions">
    <%= f.submit 'Finalizar', class: 'btn btn-primary' %>
  </div>

<% end %>
