<%- model_class = Departure -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:responsible) %></th>
      <th><%= model_class.human_attribute_name(:stuff) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
    </tr>
  </thead>
  <tbody>
    <% @departures.each do |departure| %>
      <tr>
        <td><%= departure.audits.first.user.login %></td>
        <td><%= departure.stuff.name %></td>
        <td><%= departure.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_departure_path,
            :class => 'btn btn-primary' %>
