<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <%= bootstrap_flash %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'login' }) do |f| %>
        <h3 class="text-center">App-Almoxarifado</h3>
            <%= f.text_field :login, autofocus: true, class: 'form-control input-lg', placeholder: 'Login' %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Senha' %>

            <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
        <% end %>
      </section>
      </div>

  </div>

</div>
